body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#to-do{
    border: .5rem solid red;
}

h1{
    text-transform: uppercase;
}

.selected{
    text-decoration: line-through;
    color: gray;
}